In [2]:
import pandas as pd
import numpy as np

In [3]:
cancer = pd.read_csv('../data/raw/string_cancer.tsv', sep='\t')
pre = pd.read_csv('../data/raw/string_preeclampsia.tsv', sep='\t')


rename_dict = {'#node1': 'node1', 'node1_string_id':'node1_id', 'node2_string_id':'node2_id',}
cancer = cancer.rename(columns=rename_dict)
pre = pre.rename(columns=rename_dict)

In [4]:
# load a xls file as pandas and get a specific tab
xls = pd.ExcelFile('../data/raw/proteomica.xlsx')
xls_cancer = pd.read_excel(xls, 'Cancer-Rat').drop('Nome da proteína (caso tenha que usar o nome do gene no string)', axis=1)
xls_pre = pd.read_excel(xls, 'Preeclampsia-Rat')
xls_cancer

    Query protein Gene name        FC Regulation
0          Q6AYZ1         3 -0.440370       Down
1          Q9EPH1      A1bg -0.778146       Down
2          P06238       A2m -0.711127       Down
3          G3V9J6    Abcb1b -0.557322       Down
4          P68136     Acta1 -0.284675       Down
..            ...       ...       ...        ...
172        D4A3P1    Ubqln4 -0.528368       Down
173        D4ABI6     Uchl4 -0.634966       Down
174        Q9Z270      Vapa -0.838787       Down
175        Q3MIE4      Vat1 -0.511388       Down
176        P85972       Vcl -0.367791       Down

[177 rows x 4 columns]

In [5]:
xls_cancer['Gene name'].nunique(), xls_pre['Gene name'].nunique()

(177, 324)

In [6]:
xls_pre['Gene name'].value_counts().sort_values(ascending=False)

Gene name
Gbe1              2
Slc2a1            1
Vcpip1 Vcip135    1
Utrn rCG_57340    1
Uso1 Vdp          1
                 ..
Gar1              1
Pappa2            1
Slc40a1           1
Agt Serpina8      1
Kng1              1
Name: count, Length: 324, dtype: int64

In [7]:
len(set(cancer.node1.unique().tolist() + cancer.node2.unique().tolist()))

103

In [8]:
len(set(pre.node1.unique().tolist() + pre.node2.unique().tolist()))

163

In [9]:
set(xls_cancer['Gene name'].unique().tolist()) - set(cancer.node1.unique().tolist() + cancer.node2.unique().tolist())

{3,
 'A1bg',
 'A2m',
 'Abcb1b',
 'Actg2',
 'Afm',
 'Aimp1',
 'Ak2',
 'Aldh2',
 'Alpp',
 'Anxa2',
 'Api5',
 'Atic',
 'Atp1b1',
 'Atp5b',
 'Atxn10',
 'Bag3',
 'Bsg',
 'Ca1',
 'Cand1',
 'Cdv3',
 'Cntrl',
 'Cotl1',
 'Cpsf6',
 'Csrp1',
 'Cyb5b',
 'Dbnl',
 'Ddost',
 'Ddx17',
 'Ddx3',
 'Dpysl2',
 'Dstn',
 'Eif5b',
 'Emc2',
 'En2',
 'Eno2',
 'Ero1l',
 'Etfb',
 'Fkbp14',
 'Gnas',
 'Gnpda1',
 'Gstm4',
 'Hax1',
 'Hba',
 'Hbb-b2',
 'Hpx',
 'Hspb1',
 'Itih2',
 'Krt18',
 'Lgals1',
 'Lonp1',
 'Mat2a',
 'Mug1',
 'Mug2',
 'Ndrg1',
 'Nefl',
 'Olfm4',
 'Pfkl',
 'Prdx4',
 'Prmt8',
 'Psap',
 'Ptbp1',
 'Rab33b',
 'Rab43',
 'Rack1',
 'Rap2c',
 'Rbp4',
 'Rilpl1',
 'Rpia',
 'Rragb',
 'Serpina3n',
 'Sfxn3',
 'Slc25a10',
 'Slc3a2',
 'Spata1',
 'Stk26',
 'Tgm2',
 'Tuba3a',
 'Tubb4b',
 'Tubb6',
 'Ubap2l',
 'Uchl4',
 'Vapa',
 'Vat1'}

In [10]:
set(xls_pre['Gene name'].unique().tolist()) - set(pre.node1.unique().tolist() + pre.node2.unique().tolist())

{'AABR07060872.1',
 'Abcb1a Abcb1 Abcb4',
 'Abhd12',
 'Abracl',
 'Adh1 Adh-1',
 'Afap1',
 'Agt Serpina8',
 'Aif1l',
 'Ak2 AK2',
 'Aldh2 Acad10',
 'Ankrd13a rCG_21176',
 'Aqp1 Chip28',
 'Arpp19',
 'Arsb',
 'Atp2b1',
 'Bgn',
 'Btf3 rCG_44623',
 'C4 C4a',
 'Camk2d',
 'Cand2',
 'Casp6',
 'Cavin1 Ptrf',
 'Cbr1l1',
 'Ccdc51',
 'Cd55 Daf1',
 'Cd5l Fcrl1',
 'Ceacam11 LOC292668 rCG_53839',
 'Ces1c Es2',
 'Chdh',
 'Ckap4',
 'Cmas',
 'Cnn3',
 'Cobll1',
 'Colec12 Clp1 Nsr2',
 'Cotl1 Clp',
 'Cpne1',
 'Creg1',
 'Creld2',
 'Crtap Crtapl1 LOC102555086',
 'Csrp2',
 'Ctla2a',
 'Ctsm',
 'Ctsql1 Ctsq LOC100364523',
 'Ctsql2',
 'Ctsr',
 'Cubn',
 'Cul7',
 'Dbnl Sh3p7',
 'Ddah1 Ddah',
 'Dnajb1 Dnajb1_predicted rCG_51112',
 'Dnajc3 P58ipk',
 'Dpp3',
 'ENSRNOG00000070933',
 'Efhd2 Sws1',
 'Emb Gp70',
 'Eml2 Emap2',
 'Epb41l3 Epb4.1l3',
 'Eps8l2',
 'Ero1a Ero1l Giig11',
 'Erp44',
 'Etfdh ETFDH',
 'Fam136a',
 'Fblim1',
 'Fbln1',
 'Fkbp5 rCG_60597',
 'Fndc3a',
 'Fnta',
 'Gab1',
 'Gar1',
 'Glg1',
 'Gnb4',
 'Grn',
 'Hadh Had Hadhsc Schad',
 'Hdhd2 Ier3ip1 RGD1308579',
 'Hmgb3 LOC100912369 rCG_56793',
 'Hp',
 'Hpx',
 'Hsd17b11 Dhrs8',
 'Hsp90b1 Grp94 Tra1',
 'Hspa5 Grp78',
 'Hsph1 Hsp105 Hsp110',
 'Hyou1 rCG_58188',
 'Ifnk If1fa',
 'Igfbp2 Igfbp-2',
 'Inf2',
 'Itih1 Itih1_predicted rCG_42292',
 'Itsn1 Ehsh1 Itsn',
 'Kif2a Kif2',
 'Klhl22',
 'Kng1',
 'Krt19 Ka19 Krt1-19',
 'Krt7',
 'LOC102557244',
 'LOC102557319',
 'Lad1',
 'Lamp1 Lamp-1',
 'Ldhb Ldh-2 Ldh2',
 'Lgals1',
 'Lgals5',
 'Lgalsl',
 'Lima1 eplin',
 'Limd1',
 'Lipa',
 'Lman1 Ergic53',
 'Lman2 rCG_24303',
 'Loxl2',
 'Lrpap1',
 'Lrrc59 Rbp34',
 'Lta4h',
 'Lzic',
 'Maged2',
 'Man2a1 Mana2',
 'Manf Armet',
 'Matr3',
 'Mcam Muc18',
 'Mesd Mesdc2',
 'Mustn1',
 'Myo18a',
 'Nars1 Nars',
 'Naxd CARKD Carkd',
 'Ngp',
 'Nln',
 'Nmes1',
 'Nostrin',
 'Npc2',
 'Nt5c3a Nt5c3',
 'Ocm',
 'Orm1',
 'P23764',
 'Pabir2 Fam122b',
 'Pappa2',
 'Pcmt1',
 'Pdlim4 Ril',
 'Pdxk',
 'Pecam1 Pecam',
 'Pgk1 Pgk-1',
 'Phactr4',
 'Pitrm1',
 'Plcd1',
 'Pltp',
 'Plvap',
 'Pon2',
 'Ppl',
 'Prkar2a',
 'Prl3d4',
 'Prl4a1',
 'Prl6a1',
 'Prl8a2 Dtprp',
 'Prl8a5 Prl8a4',
 'Prl8a9 Prlpc2',
 'Prrc1',
 'Prss8',
 'Prxl2a Fam213a Pamm Shp1',
 'Psg16 LOC308394',
 'Psg29 LOC292666',
 'Psgb1',
 'Ptpn23',
 'Pygl Lgp',
 'RT1-CE1 RT1-A2',
 'Ralb Ral-b',
 'Rbp1 Rbp-1',
 'Retsat',
 'Rpl34',
 'Rps15 Rig',
 'Rps25l3 AABR07071294.1 Rps25',
 'Rps6',
 'Sars1 Sars',
 'Sbsn',
 'Scamp1',
 'Scarb2 Cd36l2 Limpii',
 'Sec11a Sec11l1 rCG_24868',
 'Sec61a1 Sec61a',
 'Septin5 Sept5',
 'Serpina3l Spin2a',
 'Serpinb9',
 'Serpinb9b RGD1562844',
 'Sgpl1 Spl',
 'Sgta Sgt Sgt1 Stg',
 'Sh3bgrl1 Sh3bgrl Sh3bgrl_predicted rCG_38007',
 'Slc27a3',
 'Slc2a1',
 'Slc38a4 Ata3 Snat4',
 'Slc40a1',
 'Slc4a2 Ae2 B3rp2',
 'Snx12',
 'Sparc',
 'Sptan1 Spna2',
 'St6gal1 Siat1',
 'Stmn1',
 'Stt3a',
 'Syap1',
 'Syvn1 LOC100910831',
 'Tapbp AA926063 B3galt4 Cdk2ap1-ps1 Col11a2 Daxx Hsd17b8 Kifc1 LOC224733l-1 LOC224733l-2 Phf1 Rps25-ps1 RT1-A1 RT1-A2 RT1-A3 RT1-DOa RT1-Hb RT1-Ke4 Rxrb Sacm2l-ps1 Sacm2l-ps2 Sec61-ps Syngap1 tapasin',
 'Tbl2 LOC686610',
 'Tes',
 'Tfg rCG_52996',
 'Tfrc Trfr',
 'Timp3',
 'Tm9sf2',
 'Tmpo Lap2',
 'Tnfaip8',
 'Tram1 Tram',
 'Tram2',
 'Tspan9',
 'Tuba4a Tuba4',
 'Uba6',
 'Uggt1 Gt Ugcgl1 Uggt Ugt1 Ugtr',
 'Upp1 rCG_24466',
 'Uso1 Vdp',
 'Utrn rCG_57340',
 'Vcpip1 Vcip135',
 'Vnn1',
 'Xdh',
 nan}

In [11]:
xls_cancer.columns, xls_pre.columns

(Index(['Query protein', 'Gene name', 'FC', 'Regulation'], dtype='object'),
 Index(['Protein (UNIPROT)', 'protein_firstname', 'Gene name', 'P value',
        'Regulated', 'Fold change', 'Obs.'],
       dtype='object'))

In [12]:
xls_cancer = xls_cancer.rename(columns={'Gene name': 'gene', 'FC': 'fc'})
xls_cancer = xls_cancer.drop(['Regulation', 'Query protein'], axis=1)
# xls_cancer['fc'] = xls_cancer['fc'].str.replace(',', '.').astype(float)
xls_cancer['regulated'] = np.where(xls_cancer['fc'] > 0, 'up', 'down')
xls_cancer['cancer'] = 1
xls_cancer.columns

Index(['gene', 'fc', 'regulated', 'cancer'], dtype='object')

In [13]:
xls_pre = xls_pre.drop(['Protein (UNIPROT)', 'protein_firstname','P value','Obs.'], axis=1)
xls_pre = xls_pre.rename(columns={'Gene name': 'gene', 'Fold change': 'fc', 'Regulated': 'regulated'})
xls_pre['preeclampsia'] = 1
xls_pre['regulated'] = xls_pre['regulated'].str.lower()
# xls_pre['fc'] = xls_pre['fc'].str.replace(',', '.').astype(float)
xls_pre.columns

Index(['gene', 'regulated', 'fc', 'preeclampsia'], dtype='object')

In [14]:
xls_cancer.gene.nunique(), xls_pre.gene.nunique()

(177, 324)

Number of unique proteins in node1 and node2

In [15]:
cancer.node1.nunique(), cancer.node2.nunique()

(72, 71)

Genes that are present only in node1 or node2

In [16]:
diff = set(cancer.node1.unique()).symmetric_difference(set(cancer.node2.unique()))
len(diff)

63

Number of unique proteins(gene?)

In [17]:
len(set(cancer.node1.unique().tolist() + cancer.node2.unique().tolist()))

103

In [18]:
len(set(pre.node1.unique().tolist() + pre.node2.unique().tolist()))

163

In [19]:
f_df = xls_cancer.merge(xls_pre, on='gene', suffixes=('_cancer', '_pre'), how='outer')
f_df.cancer = f_df.cancer.fillna(0)
f_df.preeclampsia = f_df.preeclampsia.fillna(0)
f_df.to_csv('../data/processed/genes.csv', index=False)
f_df

,gene,fc_cancer,regulated_cancer,cancer,regulated_pre,fc_pre,preeclampsia
0,3,-0.440370,down,1.0,NaN,NaN,0.0
1,A1bg,-0.778146,down,1.0,NaN,NaN,0.0
2,A2m,-0.711127,down,1.0,NaN,NaN,0.0
3,Abcb1b,-0.557322,down,1.0,NaN,NaN,0.0
4,Acta1,-0.284675,down,1.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...
486,Casp6,NaN,NaN,0.0,up,0.559243,1.0
487,Gar1,NaN,NaN,0.0,up,0.580970,1.0
488,NaN,NaN,NaN,0.0,up,0.763275,1.0
489,Pappa2,NaN,NaN,0.0,up,0.811140,1.0
490,Kng1,NaN,NaN,0.0,up,0.842980,1.0

In [20]:
df_no_nans = f_df.dropna()
print(len(df_no_nans))
df_no_nans.sort_values('regulated_cancer', ascending=False)

12

,gene,fc_cancer,regulated_cancer,cancer,regulated_pre,fc_pre,preeclampsia
9,Actn1,0.240738,up,1.0,up,0.263762,1.0
52,Ehd4,0.576265,up,1.0,down,-0.293523,1.0
77,Hpx,0.444360,up,1.0,up,0.555551,1.0
170,Uba6,0.192763,up,1.0,down,-0.346560,1.0
48,Dnajb11,-0.428988,down,1.0,up,0.442867,1.0
51,Ehd1,-0.450791,down,1.0,down,-0.294619,1.0
61,F2,-0.553859,down,1.0,up,0.293442,1.0
90,Lgals1,-0.287505,down,1.0,up,0.315815,1.0
118,Prdx5,-0.360268,down,1.0,down,-0.353523,1.0
142,Ruvbl2,-0.296228,down,1.0,up,0.217608,1.0
149,Slc3a2,-0.531778,down,1.0,down,-0.290488,1.0
164,Tubb3,-0.148525,down,1.0,down,-0.325208,1.0

In [21]:
cancer.to_csv('../data/processed/string_cancer.csv', index=False)
pre.to_csv('../data/processed/string_pre.csv', index=False)

### Adding a column that determines if the gene is present in both graphs
Requires the files already processed in Neo4J

In [31]:
graph = pd.read_csv('../data/processed/nodes2.csv')
graph['present_in'] = np.where(graph['n.cancer'] == 0, 'pre', np.where(graph['n.preeclampsia'] == 0, 'cancer', 'both'))
graph.to_csv('../data/processed/nodes2.csv', index=False)

In [33]:
graph

,n.name,n.cancer,n.preeclampsia,n.foldc_cancer,n.foldc_pre,n.regulated_cancer,n.regulated_pre,present_in
0,3,1,0,-0.440370,NaN,down,NaN,cancer
1,A1bg,1,0,-0.778146,NaN,down,NaN,cancer
2,A2m,1,0,-0.711127,NaN,down,NaN,cancer
3,Abcb1b,1,0,-0.557322,NaN,down,NaN,cancer
4,Acta1,1,0,-0.284675,NaN,down,NaN,cancer
...,...,...,...,...,...,...,...,...
484,Rpl34,0,1,NaN,0.400813,NaN,up,pre
485,Casp6,0,1,NaN,0.559243,NaN,up,pre
486,Gar1,0,1,NaN,0.580970,NaN,up,pre
487,Pappa2,0,1,NaN,0.811140,NaN,up,pre
488,Kng1,0,1,NaN,0.842980,NaN,up,pre

In [32]:
graph.present_in.value_counts()

present_in
pre       312
cancer    165
both       12
Name: count, dtype: int64