In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
exp_path_1 = Path('../../data/raw/proteomica.xlsx')
exp_path_2 = Path('../../data/raw/dados_proteomica_com_foldchange.xlsx')

cancer_sheet = 'Cancer-Rat'
preeclam_sheet = 'Preeclampsia-Rat'

In [3]:
cancer_cols = ['Query protein', 'Gene name', 'FC']
rename_cancer_cols = {'Query protein':'protein', 'Gene name':'gene', 'FC':'fc'}
cancer_expression_data_1 = pd.read_excel(exp_path_1, sheet_name=cancer_sheet, usecols=cancer_cols).rename(columns=rename_cancer_cols)
print(cancer_expression_data_1.shape)
cancer_expression_data_1.head(10)

(177, 3)

   protein    gene        fc
0   Q6AYZ1  Tuba1c -0.440370
1   Q9EPH1    A1bg -0.778146
2   P06238     A2m -0.711127
3   G3V9J6  Abcb1b -0.557322
4   P68136   Acta1 -0.284675
5   P62738   Acta2 -0.316151
6   D3ZRN3  Actbl2 -0.322669
7  P68035    Actc1 -0.284966
8  P63259    Actg2 -0.308877
9   Q9Z1P2   Actn1  0.240738

In [4]:
cancer_exp_cols = ['Query_protein', 'Gene_name', 'FC']
rename_cancer_exp_cols = {'Query_protein':'protein', 'Gene_name':'gene', 'FC':'fc'}
cancer_expression_data_2 = pd.read_excel(exp_path_2, sheet_name=cancer_sheet, usecols=cancer_exp_cols).rename(columns=rename_cancer_exp_cols)
print(cancer_expression_data_2.shape)
cancer_expression_data_2.head(10)

(177, 3)

   protein    gene        fc
0   Q6AYZ1  Tuba1c -0.440370
1   Q9EPH1    A1bg -0.778146
2   P06238     A2m -0.711127
3   G3V9J6  Abcb1b -0.557322
4   P68136   Acta1 -0.284675
5   P62738   Acta2 -0.316151
6   D3ZRN3  Actbl2 -0.322669
7  P68035    Actc1 -0.284966
8  P63259    Actg2 -0.308877
9   Q9Z1P2   Actn1  0.240738

In [6]:
pd.concat([cancer_expression_data_1, cancer_expression_data_2], axis=0, ignore_index=True).drop_duplicates(keep=False)

Empty DataFrame
Columns: [protein, gene, fc]
Index: []

In [5]:
### Pre-eclampsia

In [18]:
preeclam_exp_cols = ['protein_firstname', 'Gene name.1', 'Fold change']
rename_preeclam_exp_cols = {'protein_firstname':'protein', 'Gene name.1':'gene', 'Fold change':'fc'}
preeclam_expression_data_1 = pd.read_excel(exp_path_1, sheet_name=preeclam_sheet, usecols=preeclam_exp_cols).rename(columns=rename_preeclam_exp_cols)
preeclam_expression_data_1['gene'] = preeclam_expression_data_1['gene'].str.strip()
print(preeclam_expression_data_1.shape)
preeclam_expression_data_1

(326, 3)

        protein        fc    gene
0        F1LQS6 -0.259869     Xdh
1        Q4KLZ0 -0.503856    Vnn1
2        Q8CF97 -1.642964  Vcpip1
3        G3V7L1 -0.461491    Utrn
4        P41542  0.251263    Uso1
..          ...       ...     ...
321      Q6AZ23  0.559243   Casp6
322      Q6AYA1  0.580970    Gar1
323      F1LXY6  0.763275     NaN
324  A0A0G2JU68  0.811140  Pappa2
325      F7EUK4  0.842980    Kng1

[326 rows x 3 columns]

In [19]:
preeclam_exp_cols = ['protein_firstname', 'Gene_name_correct', 'FC']
rename_preeclam_exp_cols = {'protein_firstname':'protein', 'Gene_name_correct':'gene', 'FC':'fc'}
preeclam_expression_data_2 = pd.read_excel(exp_path_2, sheet_name=preeclam_sheet, usecols=preeclam_exp_cols).rename(columns=rename_preeclam_exp_cols)
preeclam_expression_data_2['gene'] = preeclam_expression_data_2['gene'].str.strip()
print(preeclam_expression_data_2.shape)
preeclam_expression_data_2

(326, 3)

        protein    gene        fc
0        F1LQS6     Xdh -0.259869
1        Q4KLZ0    Vnn1 -0.503856
2        Q8CF97  Vcpip1 -1.642964
3        G3V7L1    Utrn -0.461491
4        P41542    Uso1  0.251263
..          ...     ...       ...
321      Q6AZ23   Casp6  0.559243
322      Q6AYA1    Gar1  0.580970
323      F1LXY6     NaN  0.763275
324  A0A0G2JU68  Pappa2  0.811140
325      F7EUK4    Kng1  0.842980

[326 rows x 3 columns]

In [20]:
pd.concat([preeclam_expression_data_1, preeclam_expression_data_2], axis=0, ignore_index=True).drop_duplicates(keep=False)

    protein        fc                  gene
226  M0RBD5  0.923381    ENSRNOG00000070933
246  D3ZEF4  0.441186  LOC680835 - Cullin-7
552  M0RBD5  0.923381                   NaN
572  D3ZEF4  0.441186                   NaN

In [21]:
set(preeclam_expression_data_1['gene'].unique()) - set(preeclam_expression_data_2['gene'].unique())

{'ENSRNOG00000070933', 'LOC680835 - Cullin-7'}

In [17]:
set(preeclam_expression_data_2['gene'].unique()) - set(preeclam_expression_data_1['gene'].unique())

set()